<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Neural Network Vis</title>
     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/d3.parcoords.css') }}"/>
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}"/>
</head>

<script type="text/javascript">
  var num_of_nn ={{num_of_nn|safe}};
  var num_of_epoch = {{num_of_epoch|safe}};
  var classes ={{classes|safe}};
  var accuracy_data = {{data|safe}};

  var tsne_data = {{tsne_data|safe}};

  // var true_label = {{true_label|safe}};

</script>
<body>

  <div class="vis">

    <button type='button' id='streamGraphBtn'>HIDE</button>

    <select id="selectEpoch">
      <option value = "">Choose a epoch</option>
    </select>
    <select id="selectEpoch2">
      <option value = "" >Choose a epoch</option>
    </select>
    <button type='button' id='submit' onclick="HiddenLayerSubmit()">Submit</button>

    <div id ='ScatterPlotDiv' class='frame'>
<!--       <button tye ='button' id='BrushClick'>AllowClick</button> -->
      <button id='SPReset'>RESET</button>
    </div>

    <div id = 'combined_div'  class = 'frame'>
      <div id ='streamgraphdiv'>
      </div>


      <div id = 'HiddenLayerDiv'>
      </div>

    </div>

    </div>
      <div id = 'ImagesDiv' class = 'frame'>
    </div>


    <!-- <div id = 'HiddenLayerDiv'>
      <div id = 'ImageDiv' class='frame'>
      </div>
      <div id = 'BarChartDiv' class='frame'>
      </div>

    </div>

    <div id = 'HiddenLayerDiv2'>
      <div id = 'ImageDiv2' class='frame'>
      </div>
      <div id = 'BarChartDiv2' class='frame'>
      </div>
    </div> -->

  </div>


 <!--    <div id = 'barchart'>
  </div>
      <div id = 'barchart2'>
  </div> -->
</body>
<script type="text/javascript" src="{{url_for('static', filename='js/simpleheat.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/math.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.11.3.min.js')}}"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-request.v1.min.js"></script>
<script src="https://d3js.org/d3-collection.v1.min.js"></script>
<script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
<script src="https://d3js.org/d3-dsv.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/d3-tip.js')}}"></script>
<!-- <script src ="{{url_for('static', filename='js/vis.js')}}" type="text/javascript"></script> -->
<script src ="{{url_for('static', filename='js/vis2.js')}}" type="text/javascript"></script>


</html>
