.vis{
  position: absolute;
  left:10px;
  top: 100px;
  pointer-events: all;
  cursor: move;
  fill: none;
}

.frame {
  border: 1px solid #eee;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #333;
  -o-box-shadow: 0 0 10px #333;
  -ms-box-shadow: 0 0 10px #333;
}


.area {
  clip-path: url(#clip);
}
.bar{
  clip-path: url(#clip);
}

/*.hidden {
  display: none;
}*/

.hidden {
  display: none;
}

.selected_legend{
  stroke: black;
  stroke-width :2px;
}

div.tooltip {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 7px;
  font-weight: bold;
  border: 2.5px solid;
  border-color: black;
  border-radius: 3px;
  opacity: 0.95;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
  z-index: 2;
  width:150px; /* or whatever width you want. */
  max-width:150px; /* or whatever width you want. */
}


.image_tooltip{
  left: 160px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 7px;
  font-weight: bold;
  border: 2.5px solid;
  border-color: black;
  border-radius: 3px;
  opacity: 0.95;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
  z-index: 2;
/*  width:80px;  or whatever width you want. */
  max-width:80px; /* or whatever width you want. */
}

/*.image_tooltip p {
  margin: 0;
  font-family: Futura;
  font-size: 10px;
  line-height: 10px;
}*/



.classes_button{
  width:150px; /* or whatever width you want. */
  max-width:150px; /* or whatever width you want. */
}


.x{
    position: absolute;
    background: red;
    color: white;
    top: -10px;
    right: -10px;

}

.tip_table{
  border-collapse: separate;
  border-spacing:0 0px;
}


.title{
  position: relative;
  margin-left: 150px;

}

#combined_div {
  position: relative;
  width:1400px;
  height: 600px;
  float:left;
  top :20px;
  margin-left: 10px;

}

#streamgraphdiv{
  position: absolute;
  width: 450px;
  height: 600px;
  left: 0px;
}

#ScatterPlotDiv{
  position: relative;
  top: 20px;
  width:350px;
  height:400px;
  margin-left: 0px;
  float:left;
}
#HiddenLayerDiv{
  position: absolute;
  width: 950px;
  height : 600px;
  left: 450px;
}

#ImagesDiv{
  position: absolute;
  top:450px;
  width:350px;
  height:350px;
  margin-left: 0px;

}

#streamGraphBtn{
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
}

#findDivergingBtn{
  position: absolute;
  margin-top: 0px;
  margin-left: 50px;
}



#SPReset{
  position: absolute;
  top: 375px;
  left: 30px;
}

#BrushClick{
  position: absolute;
  top: 5px;
  left: 10px;
}

/*#HeatMapDiv{
  position: absolute;
  width :200px;
  height: 200px;
  top: 300px;
  left: 0px;
}*/



.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.tick line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;

}

.tick{
  cursor: pointer;
}

.axisLine {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;

}

.AxisLine{
  stroke: black;
  stroke-opacity: 1.0;
  shape-rendering: crispEdges;
}


/*#HeatMapDiv{
  position: absolute;
  width :200px;
  height: 200px;
  top: 300px;
  left: 0px;
}*/



.unSelectedDot{
  opacity: 0.1;
}


.non_brushed{
    opacity: 0.1;
}

.dot{
  stroke: none;
}

.selectedDot{
  stroke: black;
  stroke-width: 1px;
}
/*.brushed{
    opacity: 1;
    stroke: black;
    stroke-width: 0.5px;
}
*/
.query_dot{
  stroke:none;
}



.selectedQueryDot{
  stroke: black;
  stroke-width: 1px;
}




#selectEpoch{
  position: absolute;
  top:0px;
  left:900px;

}

#selectEpoch2{
  position: absolute;
  top:0px;
  left:1020px;

}

#submit{
  position: absolute;
  top:0px;
  left:1140px;

}


#legend_div{
  position: absolute;
  left:365px;
  top: -45px;
  width:450px;
  height :60px;
}

.unselectedImage{
  opacity: 0.2;
}

#slider-epoch{
  position: absolute;
  left:830px;
  top:-90px;
  width: 930px;
  height:100px;
}

#imageSvg{
  position: absolute;
  top:200px;
}

#heatmap1{
  position: absolute;
  top: 60px;
}

#heatmap2{
  position: absolute;
  top:340px;
}


/* Style the lines by removing the fill and applying a stroke */
.loss_line {
    fill: none;
    stroke: #eee;
    stroke-width: 3;
}



.line_axis{
  font: 10px sans-serif;
}

.selectedLine{
  stroke:black;
  stroke-width:1;
}


.text_loss{
  font: italic 12px sans-serif; }
