.vis{
  position: absolute;
  left:10px;
  top: 50px;
  pointer-events: all;
  cursor: move;
  fill: none;
}

.frame {
  border: 1px solid #eee;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #333;
  -o-box-shadow: 0 0 10px #333;
  -ms-box-shadow: 0 0 10px #333;
}


.area {
  clip-path: url(#clip);
}
.bar{
  clip-path: url(#clip);
}

/*.hidden {
  display: none;
}*/

.hidden {
  display: none;
}

.selected_legend{
  stroke: black;
  stroke-width :2px;
}

div.tooltip {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 7px;
  font-weight: bold;
  border: 2.5px solid;
  border-color: black;
  border-radius: 3px;
  opacity: 0.95;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
  z-index: 2;
  width:150px; /* or whatever width you want. */
  max-width:150px; /* or whatever width you want. */
}

.classes_button{
  width:150px; /* or whatever width you want. */
  max-width:150px; /* or whatever width you want. */
}


.x{
    position: absolute;
    background: red;
    color: white;
    top: -10px;
    right: -10px;

}

.tip_table{
  border-collapse: separate;
  border-spacing:0 0px;
}


.title{
  position: relative;
  margin-left: 150px;

}

#combined_div {
  position: relative;
  width:1400px;
  height: 600px;
  float:left;
  top :20px;
  margin-left: 10px;

}

#streamgraphdiv{
  position: absolute;
  width: 500px;
  height: 600px;
  left: 0px;
}

#ScatterPlotDiv{
  position: relative;
  top: 20px;
  width:350px;
  height:400px;
  margin-left: 0px;
  float:left;
}
#HiddenLayerDiv{
  position: absolute;
  width: 900px;
  height : 600px;
  left: 500px;
}

#ImagesDiv{
  position: absolute;
  top:450px;
  width:350px;
  height:350px;
  margin-left: 0px;

}

#streamGraphBtn{
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
}



#scatterplot_title{
  position: absolute;
  left: 60px;
  top: 20px;
}

#SPReset{
  position: absolute;
  top: 375px;
  left: 30px;
}å

#BrushClick{
  position: absolute;
  top: 5px;
  left: 10px;
}

/*#HeatMapDiv{
  position: absolute;
  width :200px;
  height: 200px;
  top: 300px;
  left: 0px;
}*/



.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.tick line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges

}

.tick{
  cursor: pointer;
}




/*#HeatMapDiv{
  position: absolute;
  width :200px;
  height: 200px;
  top: 300px;
  left: 0px;
}*/



.unSelectedDot{
  opacity: 0.1;
}


.non_brushed{
    opacity: 0.1;
}

.dot{
  stroke: black;
  stroke-width: 0.2px;
}

.selectedDot{
  stroke: black;
  stroke-width: 1px;
}
/*.brushed{
    opacity: 1;
    stroke: black;
    stroke-width: 0.5px;
}
*/
#selectEpoch{
  position: absolute;
  top:0px;
  left:900px;

}

#selectEpoch2{
  position: absolute;
  top:0px;
  left:1020px;

}

#submit{
  position: absolute;
  top:0px;
  left:1140px;

}


#legend_div{
  position: absolute;
  left:365px;
  top: -45px;
  width:500px;
  height :60px;
}

.unselectedImage{
  opacity: 0.2;
}



