.vis{
  position: absolute;
  left:10px;
  top: 50px;
  pointer-events: all;
  cursor: move;
  fill: none;
}

.frame {
  border: 1px solid #eee;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #333;
  -o-box-shadow: 0 0 10px #333;
  -ms-box-shadow: 0 0 10px #333;
}


.area {
  clip-path: url(#clip);
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}



/*/* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 5px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}*/

/*/* Style northward tooltips differently */
  .d3-tip:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.title{
  position: relative;
  margin-left: 150px;

}

#streamgraphdiv{
  position: absolute;
  width: 700px;
  height: 450px;
}

#ScatterPlotDiv{
  position: absolute;
  left: 750px;
  top: 0px;
  width: 450px;
  height: 450px;

}

#scatterplot_title{
  position: absolute;
  left: 60px;
  top: 20px;
}

#SPReset{
  position: absolute;
  top: 420px;
  left: 30px;
}

#HiddenLayerDiv{
  position: absolute;
  top:500px;
  width: 1300px;
  height : 500px;
}

#ImageDiv{
  position: absolute;
  width :200px;
  height: 200px;
  top: 50px;
  left: 0px;
}

#HeatMapDiv{
  position: absolute;
  width :200px;
  height: 200px;
  top: 300px;
  left: 0px;
}


#BarChartDiv{
  position: absolute;
  width: 1100px;
  height: 400px;
  top: 0px;
  left: 250px;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.tick line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges

}

.tick{
  cursor: pointer;
}


